################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SEM_Assignment/FileContentIndex/4378de15-1412-4c94-b5e7-1e7e152ab15b.vsidx
/.vs/SEM_Assignment/FileContentIndex/647bb76b-97b3-4f3e-8b4c-8245ce9dcba5.vsidx
/.vs/SEM_Assignment/FileContentIndex/e5e75bff-d672-4e1e-b524-6ec2c364a210.vsidx
/.vs/SEM_Assignment/FileContentIndex/543461d4-200f-4c48-9562-0422d0e7d700.vsidx
/SEM_Assignment/App_Data/SEM_log.ldf
/.vs/SEM_Assignment/FileContentIndex/d1e98b18-2e1f-4ad6-bbbc-412788961d7e.vsidx
